flows.json
[{"id":"4e35b32b.50097c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"497583a9.657cbc","type":"ui_form","z":"4e35b32b.50097c","name":"","label":"","group":"f507453b.347668","order":0,"width":0,"height":0,"options":[{"label":"gender","value":"ge","type":"text","required":true,"rows":null},{"label":"race/ethnicity","value":"re","type":"text","required":true,"rows":null},{"label":"parental levl of education","value":"pe","type":"text","required":true,"rows":null},{"label":"lunch","value":"lun","type":"text","required":true,"rows":null},{"label":"test preparation course","value":"tpc","type":"text","required":true,"rows":null},{"label":"reading score","value":"rs","type":"number","required":true,"rows":null},{"label":"writing score","value":"ws","type":"number","required":true,"rows":null}],"formValue":{"ge":"","re":"","pe":"","lun":"","tpc":"","rs":"","ws":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":100,"y":220,"wires":[["5564d7bf.af8958"]]},{"id":"2d57461a.54c27a","type":"inject","z":"4e35b32b.50097c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":140,"wires":[["5564d7bf.af8958"]]},{"id":"5564d7bf.af8958","type":"function","z":"4e35b32b.50097c","name":"","func":"global.set(\"ge\",msg.payload.ge)\nglobal.set(\"re\",msg.payload.re)\nglobal.set(\"pe\",msg.payload.pe)\nglobal.set(\"lun\",msg.payload.lun)\nglobal.set(\"tpc\",msg.payload.tpc)\nglobal.set(\"rs\",msg.payload.rs)\nglobal.set(\"ws\",msg.payload.ws)\nvar apikey=\"a8f2b754-cefb-47e0-8429-dea7a254e5a6\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":180,"wires":[["628e6e08.190f9"]]},{"id":"628e6e08.190f9","type":"http request","z":"4e35b32b.50097c","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":440,"y":240,"wires":[["9f467057.ed5c2"]]},{"id":"9f467057.ed5c2","type":"function","z":"4e35b32b.50097c","name":"","func":"var ge = global.get('ge')\nvar re = global.get('re')\nvar pe = global.get('pe')\nvar lun = global.get('lun')\nvar tpc = global.get('tpc')\nvar rs = global.get('rs')\nvar ws = global.get('ws')\nvar token=msg.payload.access_token\nvar instance_id=\"2306a40a-1760-46ea-8950-df98d98e9fa8\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"gender\", \"race/ethnicity\", \"parental level of education\", \"lunch\", \"test preparation course\",\"reading score\", \"writing score\"], \"values\": [[ge,re,pe,lun,tpc,rs,ws]]}]}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":180,"wires":[["e8eaa3e1.e7737"]]},{"id":"e8eaa3e1.e7737","type":"http request","z":"4e35b32b.50097c","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/2306a40a-1760-46ea-8950-df98d98e9fa8/predictions","tls":"","persist":false,"proxy":"","authType":"","x":680,"y":260,"wires":[["324110c4.ee331"]]},{"id":"9f6e8722.714a88","type":"debug","z":"4e35b32b.50097c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":180,"wires":[]},{"id":"324110c4.ee331","type":"function","z":"4e35b32b.50097c","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":140,"wires":[["982c0755.4c46d8","9f6e8722.714a88"]]},{"id":"982c0755.4c46d8","type":"ui_text","z":"4e35b32b.50097c","group":"f507453b.347668","order":1,"width":0,"height":0,"name":"","label":"GRADE","format":"{{msg.payload}}","layout":"row-spread","x":880,"y":300,"wires":[]},{"id":"f507453b.347668","type":"ui_group","z":"","name":"Student performance Analysis","tab":"ebfb5c69.ce62c","order":1,"disp":true,"width":"6","collapse":false},{"id":"ebfb5c69.ce62c","type":"ui_tab","z":"","name":"Home ","icon":"dashboard","disabled":false,"hidden":false}]